/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

 /* Poor-mans normalize */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

html {
    background-color: #181733;
}
/* Container */

.wrap-all {
    background-color: white;
    overflow: none;
    width: 80%;
    margin: auto;
}

.outer-wrap {
    width: 100%;
}

.inner-wrap {
    width: 80%;
    margin: 0 auto;
}
/* Header */

.region-header-col-1 {
    float: left;
    width: 30%;
}

.region-header-col-2 {
    float: left;
    width: 60%;
    margin-right: 10px;
}

.site-logo {
    display: none;
}

.row::after {
    clear: both;
    overflow: auto;
}

.my-navbar {
    list-style-type: none;
}

.my-navbar li {
    display: inline;
    padding: 2px 10px;
}
/* Main */

.inner-wrap-main {
    padding: 30px 0;
}

/* Footer */
.outer-wrap-footer {
    background-color: #181733;
    color: white;
}

.inner-wrap-footer {
    padding: 30px;
}

.region-footer>.block {
    padding: 30px;
    width: 100%;
    text-align: center;
}


